name: Build and push docker image

on:
  push:
    branches:
      - main
      - docker-build-issue

jobs:
  docker:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/${{ github.actor }}/${{ github.repository }}:latest